{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint", "jest", "simple-import-sort"],
  "rules": {
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/naming-convention": ["error", { "selector": "class", "format": ["PascalCase"] }],
    "curly": ["error", "multi-line"],
    "eqeqeq": "error",
    "no-duplicate-imports": "error",
    "no-throw-literal": "error",
    "prettier/prettier": "error",
    "semi": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error"
  }
}
